
h1 {
    max-width: 640px !important;
    align-content: center;
    text-align: left;
    font-family: "Libre Baskerville", Georgia, serif;
    font-weight: bold;
    font-size: 2.4em;
}

a {
    color: #5a5a5a
}

h4 {
    align-content: center;
    text-align: left;
    font-family: "Yu Gothic", "Segoe UI Light", "Helvetica Neue", "Courier New", "Courier", sans-serif;
    font-size: 2em;
    font-weight: 200;
    color: #5a5a5a;
}


.top-padded-5-percent {
    padding-top: 5%;
}

.sides-padded-8-percent {
    padding-right: 8%;
    padding-left: 8%;
}


.top-padded-5-percent {
    padding-top: 5%;
}

.bottom-padded-5-percent {
    padding-bottom: 5%;
}