#bar {
    width: 100%;
    height: 25px;
    background-color: rgb(105, 105, 110);
    margin: 0 auto;
    font-family: monospace;
    float: none;
    border-radius: 5px 5px 0 0;
    justify-content: left;
    padding: 5px;
}

#red {
    background-color: rgb(255, 59, 48);
    border-radius: 100%;
    width: 15px;
    height: 15px;
    display: inline-block;
}

#yellow {
    background-color: rgb(255, 204, 0);
    border-radius: 100%;
    width: 15px;
    height: 15px;
    display: inline-block;
}

#green {
    background-color: rgb(48, 209, 88);
    border-radius: 100%;
    width: 15px;
    height: 15px;
    display: inline-block;
}

#screen {
    background-color: #2b2b2b;
    width: 100%;
    height: 550px;
    margin: 0 auto;
    padding: 2px;
    border-radius: 0 0 5px 5px;
    font-size: 0;
}

.blinking-cursor {
    font-weight: 100;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #fff;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #fff;
    }
}

@-webkit-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #fff;
    }
}

@-ms-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #fff;
    }
}

@-o-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #fff;
    }
}

.font {
    color: #fff;
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    position: static;
}

.caret {
    font-weight: bolder;
    color: #007f00;
}

.keyword {
    color: #cc7832;
}

.string {
    color: #6a8759;
}

.bracket {
    color: #E6B422;
}
