{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/terminal.css') }}">

{% endblock head %}

{% block content %}
<div class="container top-padded-25-percent sides-padded-5-percent">

    <div class="row">
        <h1>{{ constants.NAME }}</h1>
    </div>

    <div class="row">
        <h4>
            I like to code.<br>
            Check out my
            {% for index, (name, link) in enumerate(constants.LINKS.items(), 1) %}
                {% if index == constants.NUM_LINKS %}
                <a href="{{ link }}">or {{ name }}.</a>
                {% else %}
                <a href="{{ link }}">{{ name }}, </a>
                {% endif %}
            {% endfor %}
        </h4>
    </div>

    <div class="row bottom-padded-5-percent top-padded-5-percent">
        {% include "terminal.html" %}
    </div>

</div>

{% endblock content %}