{% macro caret() -%}
    <span class="caret">>>> </span>
{%- endmacro %}

{%- macro string(value) -%}
    <span class="string">"{{- value -}}"</span>
{%- endmacro %}

{% macro link(link, label) -%}
    <span><a href="{{ link }}" class="string">"{{ label }}"</a></span>
{%- endmacro %}

{% macro keyword(value) -%}
    <span class="keyword">{{ value }}</span>
{%- endmacro %}

{% macro choose_bracket(open=True, islist=false)  -%}

    {% if open %}
        {% set open_bracket = '[' if islist else '('  -%}
        <span class="bracket">{{ open_bracket -}}</span>
    {%- else -%}
        {% set close_bracket = ']' if islist else ')' -%}
        <span class="bracket">{{ close_bracket -}}</span>
    {% endif -%}

{%- endmacro %}

{% macro comma() -%}
    <span class="bracket">, </span>
{%- endmacro %}